@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

header {
    position: relative;
    width: 1320px;
    height: 600px;
    margin: auto;
}

.banner-img {
    background-image: url("../resources/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.502);
    background-blend-mode: multiply;
    border-radius: 16px;
}

.banner-txt {
    font-family: Merriweather;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

.banner-txt h1 {
    font-size: 72px;
    margin-top: 10px;
    width: 632px;
}

.banner-txt h2 {
    font-size: 32px;
    font-weight: 400;
    margin-top: 177px;
}

.offer {
    text-align: center;
}

.parcentage {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.container-text h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.container-text h2 {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.party {
    display: flex;
    background-image: url("../resources/Vectorrr.png");
    width: 1320px;
    height: 600px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.502);
    background-blend-mode: multiply;
    border-radius: 16px;
    margin-top: 120px;
}

.welcome-txt h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    width: 642px;
    margin-left: 126px;
    margin-top: 126px;
}

.welcome-txt p {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    margin-left: 126px;
    margin-top: 24px;
    margin-bottom: 48px;
}

button {
    font-family: Inter;
    font-weight: 700;
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
    padding: 16px 32px;
    color: #FFF;
    margin-left: 158px;
    cursor: pointer;
    transition: 1s;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(11, 248, 7);

}

.party-container {
    position: relative;
    width: 1320px;
    height: 600px;
    margin: auto;
    margin-bottom: 280px;

}

.party-img {
    margin-top: 69px;
    margin-left: 39px;
}

.event {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    ;
    width: 1320px;
    height: 482px;
    margin: auto;
    border-radius: 16px;
}

.event-content {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 100px;
    line-height: 30px;

}

.event-btn {
    margin: auto;
    margin-top: 30px;
}

.portfolio {
    width: 1320px;
    height: 482px;
    margin: auto;
}

.portfolio h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 120px;

}

.portfolio h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 16px;
    margin-bottom: 60px;
}

.img-box1 {
    display: flex;
    justify-content: space-between;
}

.img-box {
    transition: 1s;
    cursor: pointer;
}

.img-box:hover {
    transform: scale(1.1);
}

.img-box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}